.twoByTwoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 80px);
  gap: 20px;
  background: #1f1f1f;        /* DJI-style dark grey */
  padding: 20px;              /* matches the gap */
  border-radius: 14px;        /* smooth rounded block */
}


.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--surface);     /* <--- lighter than background */
  border-radius: 12px;            /* smooth rounded corners */
  padding: 16px;                  /* spacing inside panel */
}


